body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eceff1 inset;
}

table.highlight > tbody > tr:hover {
    background-color: #90a4ae;
}

.poke_image {
    max-width: 75px;
    max-height: 75px;
}